.btn{
    line-height: 1.42857143;
}

#show-link-options{
    margin-left: 10px;
}

.custom-link-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-link-text h2{
    margin: 0;
}

.custom-url-field {
    display: inline;
    width: 200px;
    margin-left: 10px;
}

.site-url-field {
    color: green;
    display: inline;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

.check-btn {
    margin: 20px 0;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}
