#show-link-options{
    margin-left: 10px;
}

.custom-link-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-link-text h2{
    margin: 0;
}

.custom-url-field {
    display: inline;
    width: 200px;
    margin-left: 10px;
}

.site-url-field {
    color: #4db749;
    display: inline;
    font-size: 27px;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

.check-btn {
    margin: 20px 0;
    padding: 5px 10px;
    background-color: #4db749;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}

#shorten{
    background-color: #0c4da4;
}

#show-link-options{
    background-color: #f46f20;
}

