.result-box {
    width: 50%;
    display: block;
    margin : 0 auto;

}

.btn {
    margin-top: 30px;
}

.content-div {
    text-align: center;
}

.qr-code-container {
    display: none;
    margin: 2em;
}

.qr-code-container img {
    display: inline !important;
}

.input-group {
    width: 40vw;
    margin: 0 auto;
}

#short_url{
    border-color: #0c4da4;
}

#clipboard-copy.input-group-addon {
    padding: 0px 15px;
    cursor: pointer;
    color: #fff;
    background-color: #0c4da4;
    border: 1px solid #0c4da4;
}

#generate-qr-code{
    margin-left: 10px;
}

#clipboard-copy i{
    margin: 0;
    font-size: 18px;
}

@media (max-width: 768px) {
    .input-group {
        width: 73vw;
    }
}